body {
    margin: 0 auto;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color : #eeeeee;
    width : 100%;

}
.search{
    max-width : 600px;
    width : 90%;
    text-align: center;
    margin: 0 auto;
    padding:20px 0px;
    white-space: nowrap;
}

.text{
    padding:5px 0px;
    font-size:12pt;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.text.query{
    color : #444444;
    min-width : 50%;
    border:solid 1px #ccc;
}
.text.tag{
    color : #444444;
    min-width : 20%;
    border:solid 1px #ccc;
}
.text.submit{
    border:solid 1px #ccc;
    background-color : #FF6666;
    text-transform:uppercase;
    font-weight:normal;
    color:#FFFFFF;
    cursor:pointer;
    min-width : 20%;
}

.section {
    padding: 5px 7px;
    background-color: #ffffff;
    font-size: medium;
    color: #446;
    margin: 25px auto;
    max-width : 600px;
    box-shadow: 0 2px 1px #BBBBBB;
    word-wrap:break-all;
}
ul li {
    list-style-type: none; 

    padding: 0px 0px; 
}
li:before { content:"-"; }
.tableA{
    width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 2px;
    padding : 10pt 0pt;
}
.tableA th{
    background: #FF6666;
    vertical-align: middle;
    text-align: left;
    width: 110px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 12pt;
    padding:5px 5px;
}
.tableA td{

    background: #f8f8f8;
    padding-left: 10px;
    font-size: 12pt;

}
.header {
    width : 100%;
    height : 80px;
    #background: #2D5D90;
    background: #FFFFFF;
    box-shadow: 0 2px 1px #BBBBBB;
    position: fixed;  
    top : 0;  
    z-index:1;
}
.main {
    position: absolute;
    top:80px;
    width : 100%;
}